@mixin list-ul() {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: rgb(234, 53, 45);
}

@mixin clearfix() {
  zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin clearfix_after() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// 1行テキストボックスのデフォルト設定（@include input-default;）
@mixin input-default {
  padding: 10px 16px 8px;
  border-radius: 4px;
  line-height: 1.5em;
  font-size: 16px;
  border: 1px solid #ccc; 
}

// hover時アンダーライン＆opacity一括指定（@include small-link;）
@mixin small-link {
  :hover{
    text-decoration: underline;
    opacity: 0.8;
  }
}

@mixin mainWidth($max-width: 700px, $min-width: 500px) {
  max-width: $max-width;
  min-width: $min-width;
}

@mixin border($border-bottom: solid 1px #f5f5f5) {
  border-bottom: solid 1px #f5f5f5;
}

@mixin marginCenter($margin-left: auto, $margin-right: auto) {
  margin-left: auto;
  margin-right: auto;
}

@mixin bold($font-weight: 600) {
  font-weight: $font-weight;
}

@mixin boxWidth($width: 314px, $height: 48px) {
  width: 314px;
  height: 48px;
}

@mixin changeIcon($text-align: right, $font-size: 14px, $color: #00bfff){
  text-align: right;
  font-size: 14px;
  color: #00bfff;
}