.single-container
  = render 'shared/single-header'
  %main.single-main
    %section.single-main__container
      %h2.single-main__container__header 会員登録完了
      %form.registration-form
        %input{name: "__csrg_value", type: "hidden", value: ""}/
        .registration-form__content
          %p.done.message ありがとうございます。
          %p.done.message 会員登録が完了しました。
          %button.btn-default.btn-red{type: "submit"} メルカリを始める
          %image.image__kari{src: "https://i.gyazo.com/3115ad076f4ae0ac5d647ccec944218e.png"}
= render 'shared/single-footer'