%footer.footer
  .footer-nav
    .footer-nav__information
      %h2 メルカリについて
      %ul 
        %li
          %a{ href: "https://about.mercari.com/" } 会社概要（運営会社）
        %li
          %a{ href: "/jp/jobs/" } 採用情報
        %li 
          %a{ href: "https://about.mercari.com/press/news/" } プレスリリース
        %li 
          %a{ href: "https://jp-news.mercari.com/", target: "_blank" } 公式ブログ
        %li
          %a{ href: "/jp/logo-guidelines/" } メルカリロゴ利用ガイドライン
        %a{ href: "https://twitter.com/mercari_jp", target: "_blank", class: 'icon' }
          = fa_icon 'twitter'
        %a{ href: "https://www.facebook.com/mercarijp", target: "_blank", class: 'icon' }
          = fa_icon "facebook-square"
    .footer-nav__information
      %h2 ヘルプ＆ガイド
      %ul
        %li
          %a{ href: "/jp/help_center/" } メルカリガイド
        %li
          %a{ href: "/jp/rakuraku-mercari/" } らくらくメルカリ便
        %li
          %a{ href: "/jp/yuyu-mercari/" } ゆうゆうメルカリ便
        %li
          %a{ href: "/jp/rakuraku-ogata/" } 大型メルカリ便
        %li
          %a{ href: "/jp/guide/car/" } 車体取引ガイド
        %li
          %a{ href: "/jp/safe/description/", target: "_blank" } メルカリあんしん・あんぜん宣言！
        %li
          %a{ href: "/jp/authenticity/" } 偽ブランド品撲滅への取り組み
        %li
          %a{ href: "/jp/box/" } メルカリボックス
    .footer-nav__privacy
      %h2 プライバシーと利用規約
      .left-li
        %ul
          %li
            %a{ href: "/jp/privacy/" } プライバシーポリシー
          %li
            %a{ href: "/jp/tos/" } メルカリ利用規約
          %li
            %a{ href: "/jp/tos_smartphone_support/" } あんしんスマホサポート制度に関する利用特約
          %li
            %a{ href: "/jp/compliance/" } コンプライアンスポリシー
      .right-li
        %ul
          %li
            %a{ href: "/jp/data_security/" } 個人データの安全管理に係る基本方針
          %li
            %a{ href: "/jp/tokutei/" } 特定商取引に関する表記
          %li
            %a{ href: "/jp/shikin_kessai/" } 資金決済法に基づく表示
          %li
            %a{ href: "https://about.mercari.com/csr/safety/" } 法令順守と犯罪抑止のために
    .footer-nav__information
      %h2 国
      %ul
        %li
          %a{ href: "/jp/" } 日本
        %li
          %a{ href: "/" } United States
  .footer-logo
    %a.footer-logo__mercari{ href: "/" }
      %img.footer-logo__mercari-img{ src: "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg", alt: "Mercari" }
    %span.footer-logo__span © 2019 Mercari