.buy-btn {
  display: block;
  background-color: red;
  text-align: center;
  font-size: 30px;
  width: 60%;
  margin: auto;
  width: 620px;
  border: 0;
  a:hover {
    color: white;
  }
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
}
  