.item-detail{
  height: auto;
  background-color: white;
  box-sizing: border-box;
  color: black;
  overflow: visible;
}
.item-detail{
  width:60%;
  margin:0 20% 0 20%;
}

.item-detail-box{
  height: auto;
  position: auto;
  background-color:white;
  text-align: center;
}

h1{
  font-size: 60px;
  text-align: center;
  margin: auto;
}

img {
  width: 40%;
  height: auto;
  object-fit: cover; /* この一行を追加するだけ！ */
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.item-table{
  display: inline-block;
  background-color: white;
  // text-align: center;
  // flex-direction: row;
}

.item-profile{
  text-align: center;
  display: inline-block;
  font-size: 20px;
  background-color: white;
  // display: table-cell;
  // vertical-align: middle;
}
table{
  margin-left: auto;
  margin-right: auto;
}

.item-price{
  font-size: 100px;
  text-align: center;
}

.item-content{
  font-size: 30px;
  text-align: center;
}

