.edit-btn-p {
  text-align: center;
  font-size: 30px;
}
.items-edit-btn {
  margin-top: 10px;
  .edit-btn {  
    display: block;
    background-color: gray;
    text-align: center;
    font-size: 30px;
    width: 60%;
    margin: auto;
    width: 620px;
    border: 0;
    color: #eee;
  }
}