.slider {
  position: relative;
  height: 390px;
  width: 100%;
  .button-prev {
    opacity: 0.8;
    font-size: 18px;
    z-index: 100;
    position: absolute;
    left: 24px;
    top: 50%;
  }
  .button-next {
    opacity: 0.8;
    font-size: 18px;
    z-index: 100;
    position: absolute;
    right: 24px;
    top: 50%;
  }
}
.slide {
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2) inset;
  display: none;
  color: $color-black;
  height: 390px;
  width: 100%;
  &-1 {
    background-color: #EDF6F5;
    position: relative;
    &__wrapper {
      overflow: hidden;
      margin: 0 auto;
      max-width: 860px;
      padding: 0 40px;
      &__left {
        margin-top: 20px;
        z-index: 10;
        h1 {
          font-size: 60px;
          font-weight: 600;
        }
        h2 {
          font-size: 18px;
          margin-bottom: 24px;
        }
        .app-link {
          display: inline-block;
          img {
            height: 38px;
            width: 128px;
          }
        }
      }
      &__right {
        display: block;
        height: 100%;
        img {
          z-index: 1;
          position: absolute;
          max-height: 390px;
          right: 100px;
          bottom: 0;
          opacity: 0.9;
        }
      }
    }
  }
  &-2 {
    background-color: #EDECEA;
    &__wrapper {
      overflow: hidden;
      max-width: 860px;
      padding: 0 40px;
      img {
        display: block;
        max-height: 280px;
        margin: 0 auto;
      }
    }
  }
}
.active {
  display: block;
}