= render partial: 'shared/header'
- breadcrumb :logout
= render partial: 'render/breadcrumbs'
.logout
  .logout-main
    = render "users/sidebar"
    .logout-main__content
      .logout-main__content-btn
        = link_to "ログアウト", logout_path, method: :delete, class: "btn-red"