.signup-registration {
  box-sizing: border-box;
  a.small-link {
    color: $color-blue;
  }
  a.small-link:hover{
    text-decoration: underline;
    opacity: 0.8;
  }
  .single-main {
    background-color: $color-white;
    color: $color-black;
    .signup-registrations {
      &-container {
        background-color: white;
        width: 700px;
        margin: 0 auto;
        &__title {
          font-size: 22px;
          padding: 32px 16px;
          border-bottom: 1px solid $color-white;
          text-align: center;
          line-height: 1.5;
          font-weight: bold;
        }
      }
      &-contents{
        padding: 40px 40px 64px;
        .input-group {
          &__next {
          margin-top: 32px;
          }
        }
      }
      &-content {
        max-width: 343px;
        height: 70px;
        margin: 0 auto;
        .input-default {
          width: 309px;
          height: 28px;
          margin-top: 8px;
          @include input-default;
          &-half {
            width: calc(50% - 40px);
            height: 28px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            padding: 10px 16px 8px;
            margin-top: 8px;
            &__first {
              margin-right: 4px;
            }
          }
        }
        label {
          font-weight: 600;
          font-size: 14px;
        }
        span.require {
          // 必須表示
          font-size: 12px;
          font-weight: bold;
          color: white;
          background-color: $color-red;
          padding: 2px 4px;
          margin-left: 8px;
          border-radius: 2px;
          vertical-align: top;
        }
        span.date {
          font-size: 14px;
        }
        &__sub {
          &-head {
          margin-top: 32px;
          font-weight: 600;
          font-size: 16px;
          }
          &-txt {
            margin: 8px 0 0;
            padding: 0;
            font-size: 14px;
            line-height: 1.5;
          }
        }
        &__name {
          width: 100%;
        }
        &__birth {
          height: 56px;
          .birth-selector{
            position: relative;
            padding: 0;
            margin: 0;
            width: 76px;
            display: inline-block;
            .select-default {
              padding: 0 10px;
              width: 100%;
              @include select-default;
              &-arrow {
                // 任意の下向きの矢を置く場合、クラスに-arrowをつける
                position: absolute;
                right: 16px;
                top: 50%;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
                color: gray;
              }
            }
          }
          select {
            // デフォルトの下向きの矢を非表示
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }
          ::-ms-expand {
            display: none;
          }
        }
        .caution {
          color: #888;
          font-size: 14px;
          margin: 8px 0 0;
          line-height: 1.5;
        }
      }
      &__comment {
        max-width: 343px;
        margin: 32px auto 0;
        font-size: 14px;
        text-align: center;
      }
      &__submit {
        width: 343px;
        margin: 0 auto;
        .submit-btn {
          background-color: $color-red;
          border: solid 1px $color-red;
          color: white;
          margin-top: 40px;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          cursor: pointer;
          text-align: center;
        }
      }
      &__about {
        max-width: 343px;
        margin: 32px auto 0;
        font-size: 14px;
        text-align: right;
      }
    }
  }
}

