.sms-confirmation {
  a:link,a:visited {
    color: rgb(0, 195, 255);
  }

  .qw {
    margin: 100px 25%;
    font-size: 14px;
    text-align: left;
  }

  h2 {
    margin: 10px;
    text-align: center;
    margin: 0,175px,0; 
  }

  .text_input {
    width: 336px;
    height: 46px;
  }

  .image__kari {
    max-width: 100%;
    margin: 40px 0 0 0;
  }

  .sms_non.message {
    margin: 0px 25%;
    font-size: 17px;
    text-align: left;
    line-height: 1.5;
  }


  .sms_non2.message {
    margin: 0px 25%;
    font-size: 14px;
    text-align: left;
    line-height: 1.5;
    color: rgb(145, 145, 145);
  }

  .sms_non3.message {
    color: rgb(255, 255, 255);
  }

  .btn-default.btn-red {
    display: block;
    margin: 20px 25% 100px 25%;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    width: 50%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  } 

  .single-main__container__header {
    border-bottom: .99px solid rgb(204, 204, 204);
  }
}