- if @item.user_id == current_user.id
  %p.edit-btn-p
  .items-edit-btn
    = link_to edit_item_path(@item.id), class: "edit-btn" do
      = "商品を編集する"
- else
  .buy-btn
    =link_to item_buy_purchase_index_path(@item.id) do
      ="購入画面に進む"
