$color-white :#F5F5F5;
$color-black :#333333;
$color-red :#EA3732;
$color-blue :#0099E8;
$color-facebook: #3B5998;

body {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}